.about {
  min-height: 100vh;
  position: relative;
  & .listCollapseAbout {
    margin-top: 15px;
    justify-content: center;
    width: 70%;
    display: grid;
    & .collapse {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    & .listCollapseAbout {
      width: 90%;
    }
  }
}
