.about {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  & .listCollapseAbout {
    margin-top: 8px;
    margin-bottom: 15px;
    justify-content: center;
    width: 71%;
    display: grid;
    & .collapse {
      width: 100%;
      & .titleCollapse {
        font-size: 24px;
        padding: 10px 20px 10px 15px;
        border-radius: 5px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    & .listCollapseAbout {
      width: 86%;
      margin-top: 0;
      & .collapse {
        width: 100%;
        & .content {
          font-size: 12px;
        }
        & .titleCollapse {
          font-size: 13px;
          padding: 10px 0px 10px 10px;
          & .crochet {
            width: 20px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
