.collapse {
  & .titleCollapse {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    display: flex;
    gap: 10px;
    background-color: #ff6060;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    justify-content: space-between;

    vertical-align: middle;
    color: white;
    margin: 0;
  }
  & .crochet {
    margin: 0;
    transition-duration: 0.3s;
  }
  & .crochet.active {
    transform: rotate(0.5turn);
    transition-duration: 0.3s;
  }

  & .content {
    height: 0;
    visibility: hidden;
    display: flex;
  }
  & .content.active {
    visibility: visible;
    height: auto;
    display: contents;
    justify-content: left;
    margin-left: 0;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    background-color: #f6f6f6;
    font-size: 18px;
    color: #ff6060;
    padding: 43px 20px 19px 20px;
  }
}
