

.footer {
  
  top:100%;
  //  margin-bottom: 0;
  width: 100%;
  height: 209px;
  background-color: black;
  text-align: center;
  // position: fixed;
  // bottom: 0;
  & .logtext {
   padding-top: 45px; 
  
    & p {
      font-size: 24px;
      padding-top: 30px;
      color: white;
    }
    & img {
      filter: color(white);
    }
  }
}
