.formlogement {
  min-height: 100vh;
  flex-direction: column;
  display: flex;

  & .tagAndRating {
    display: flex;
    width: 86%;
    justify-content: space-between;
    & .rating {
      margin: 0;
    }
  }
  & .listCollapse {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    width: 86%;
    & .collapse {
      width: 47%;
      margin: 0;
      & .titleCollapse {
        font-size: 18px;
        padding: 10px 20px 10px 10px;
        border-radius: 10px;
      }
    }
  }
  & .titleAndName {
    display: flex;

    width: 86%;

    justify-content: space-between;
    & .titleAndSubtitle {
      margin: 0;
      & .title {
        color: #ff6060;
        font-size: 36px;
        margin-bottom: 0;
      }
      & .subTitle {
        color: #ff6060;
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
    & .containerHost {
      display: flex;
      margin: 0;
      align-items: center;
      gap: 5px;
      & .name {
        & .firstName {
          color: #ff6060;
          font-size: 18px;
          line-height: 30px;
          text-align: end;
          margin: 0;
        }
        & .lastName {
          margin: 0;
          color: #ff6060;
          font-size: 18px;
          line-height: 30px;
          text-align: end;
        }
      }
      & .host {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .formlogement {
    & .title {
      margin-left: 20px;
      font-size: 18px;
    }
    & .subTitle {
      margin-left: 20px;
      font-size: 14px;
    }
    & .listCollapse {
      flex-direction: column;
      margin-top: 50px;
      & .collapse {
        width: 100%;
        & .titleCollapse {
          font-size: 13px;

          & .crochet {
            width: 20px;
          }
        }
        & .content {
          font-size: 12px;
        }
      }
    }

    & .containerHost {
      & .name {
        font-size: 12px;
        top: 453px;
        line-height: 2;
      }
      & .host {
        width: 32px;
        top: 472px;
        right: 18px;
      }
    }
  }
}
