@import "./navigation.scss";
@import "./photoBanner.scss";
@import "./notfound.scss";
@import "./card.scss";
@import "./footer.scss";
@import "./carrousel.scss";
@import "./formlogement.scss";
@import "./about.scss";
@import "./tag.scss";
@import "./collapse.scss";

* {
  
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
body{
 
  // margin-left: 50px;
  // margin-right: 50px;
}
p {
  font-family: "Montserrat", sans-serif;
}
