@import "./navigation.scss";
@import "./photoaccueil.scss";
@import './photoabout.scss';
@import './notfound.scss';
@import './card.scss';
*{
   max-width: 1440px;
   margin-right: auto;
   margin-left: auto;
}



