.navigation {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  & .active{
    text-decoration-color: #FF6060;
  }
  & .inactive{
    text-decoration: none;
  }
  
  & h1{
    margin-left: 0;
  }
  & ul {
    display: flex;
    margin-right: 0;
    justify-content: flex-end;
    gap: 30px;
    & li {
      list-style: none;
            font-size: 24px;
      color: #ff6060;
    }
  }
}
