.notFound {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  & header,
  footer {
    width: 100%;
  }
  
  & .highNumber {
    font-weight: 700;
    color: #ff6060;
    font-size: 288px;
    margin-top: 89px;
    margin-bottom: 139px;
  }
  & .middleText {
    font-weight: 500;
    color: #ff6060;
    font-size: 36px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 139px;
    & .mobileSpace {
      display: none;
    }
  }
  & .littleText {
    margin-bottom: 139px;
    font-weight: 500;
    color: #ff6060;
    font-size: 18px;
    margin-top: 0;
    text-decoration: underline;
  }
}

@media screen and (max-width: 900px) {
  .notFound {
    & .middleText {
      & .mobileSpace {
        display: contents;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .notFound {
    
    & .highNumber {
      font-size: 96px;
      margin-top: 86px;
      margin-bottom: 113px;
    }

    & .middleText {
      font-size: 18px;
      margin-bottom: 113px;
    }
    & .littleText {
      font-size: 14px;
      margin-bottom: 113px;
    }
  }
}
