

 .highNumber {
   display: flex;
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   color: #ff6060;
   font-size: 288px;
   margin-top: 0;
   margin-bottom: 0;
   justify-content: center;
 }
 .middleText {
   display: flex;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   color: #ff6060;
   font-size: 36px;
   margin-top: 0;
   justify-content: center;
 }
 .littleText {
   display: flex;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   color: #ff6060;
   font-size: 18px;
   margin-top: 0;
   justify-content: center;
   text-decoration: underline;
 }